<!DOCTYPE html>
<html lang="en" ng-app="jandiApp">
<%- include("mv-module/head.ejs"); %>


<body class="doc-body tab tabWrap" id="doc_index_body">


<!-- Nav & side bar -->
<%- include("mv-module/nav.ejs"); %>

<!-- Page title -->
<%- include("mv-module/page-title.ejs"); %>





  <%

  switch(mode){
        case "Projects":
        %>
        <main class="doc-main" id="doc_index_main" role="main" style="">
          <div class="container">
            <%- include("mv-module/view-module/project.ejs" , {projects:projects}); %>
          </div>
        </main>
        <%
        break;
        case "AddProject":
        %>
        <main class="doc-main" id="doc_index_main" role="main" style="">
            <div class="container">
                <% include mv-module/view-module/addProject.ejs %>
            </div>
        </main>
        <%
        break;

        case "Topic":
        case "Chat":
        case "Team":
        case "My":
        %>
        <main class="doc-main" id="doc_index_main" role="main" style="">
          <div class="container">

              <div class="tabContent">

                  <div class="tabItem activeTab">
                    <% include mv-module/view-module/topic.ejs %>
                  </div>
                  <div class="tabItem">
                    <% include mv-module/view-module/chatlist.ejs %>
                  </div>
                  <div class="tabItem"><h1>Team</h1></div>
                  <div class="tabItem"><h1>My</h1></div>

              </div>

          </div>
        </main>
        <%- include("mv-module/btm-bar.ejs"); %>
        <%
        break;
  } //switch close

  %>












<script type="text/javascript">
  $(function() {
    $('.tabWrap').tab();
  });


</script>


</body>
</html>