<div class="toolbar toolbar-waterfall toolbar-dark doc-toolbar" id="doc_index_toolbar" >
    <a class="toolbar-toggler float-xs-left hidden-lg-up" data-toggle="navdrawer" data-type="permanent" href="#doc_index_navdrawer_menu"><i class="sr-only">menu</i></a>
    <a class="toolbar-brand hidden-lg-up" href="index.html"><%=pro_name==="" ? "JANDI":pro_name%></a>
    <div class="dropdown float-xs-right">
        <a class="navbar-toggler mr-no text-white" data-toggle="dropdown" href="javascript:void(0)" style="background-image: none;"><i class="material-icons">more_vert</i></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/users/logout"><span class="mr-md">Logout</span></a>
            
        </div>
    </div>
</div>


<nav class="navdrawer navdrawer-permanent" id="doc_index_navdrawer_menu">
    <div class="navdrawer-content">
        <div class="toolbar toolbar-bordered" style="text-align:center; margin-top:25px;">
            <div>
                <img src="<%=usr.img%>" class="rounded-circle" width="105" height="105" alt="">
            </div>
            <div>
                <h3><%=usr.name%></h3>
            </div>
        </div>

        <hr>
            <%
            console.log(JSON.stringify(usr));
            usr.projects.forEach(function(project){
            %>
            <h4 class="navdrawer-subheader" ><a href="/project/topic/<%=project.proId%>/<%=project.proName%>"><%=project.proName%></a></h4>
            <%
            });
            %>


            <h4 class="navdrawer-subheader"><button class="btn btn-primary" style="width:100%;" onclick="location.href='/project/add'">New project</button></h4>
        <hr>

    </div>
</nav>